@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #0f172a;
	--background: #f8fafc;
}

body {
	color: var(--foreground);
	background: var(--background);
}

@keyframes subtle-shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20%,
	60% {
		transform: translateX(-5px);
	}
	40%,
	80% {
		transform: translateX(5px);
	}
}

.animate-subtle-shake {
	animation: subtle-shake 0.45s ease-in-out 2;
}
